* {
  box-sizing: border-box;
}

:root {
  --clr-base: black;
  --bg: rgb(226, 230, 227);
  --clr-text: black;
  --clr-accent: ;
}

button {
  --bg: rgb(43, 46, 43);
}

nav {
  width: 100%;
  background: red;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav > div {
  display: flex;
}
